/* File reserved to css declared key frame animations */

@keyframes inclined-cube-3-faces-pause-animation {
  0% {
    transform: rotateX(-25deg) rotateY(45deg);
  }

  25% {
    transform: rotateX(-25deg) rotateY(135deg);
  }

  50% {
    transform: rotateX(-25deg) rotateY(225deg);
  }

  75% {
    transform: rotateX(-25deg) rotateY(305deg);
  }

  100% {
    transform: rotateX(-25deg) rotateY(405deg);
  }
}

@keyframes diagonal-cube-walk-animation {
  0% {
    transform: rotateX(-90deg) rotateY(0deg);
  }

  20% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  40% {
    transform: rotateX(0deg) rotateY(-90deg);
  }

  60% {
    transform: rotateX(0deg) rotateY(-180deg);
  }

  80% {
    transform: rotateX(0deg) rotateY(-270deg);
  }

  100% {
    transform: rotateX(90deg) rotateY(-270deg);
  }
}

@keyframes front-cube-1-face-show-animation {
  0% {
    transform: rotateX(-90deg) rotateY(0deg);
  }

  25% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(0deg) rotateY(-90deg);
  }

  75% {
    transform: rotateX(0deg) rotateY(-180deg);
  }

  100% {
    transform: rotateX(90deg) rotateY(-180deg);
  }
}