.scene {
  width: var(--loading-cube-size);
  height: var(--loading-cube-size);
}

.cube * {
  user-select: none;
  pointer-events: none;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;

  transform: rotateX(-25deg) rotateY(45deg);
}

.cube-face {
  position: absolute;
  overflow: hidden;

  aspect-ratio: 1/1;
  width: var(--loading-cube-size);
  height: var(--loading-cube-size);

  background-color: var(--loading-cube-inside-color);
}

.cube-face-front {
  transform: rotateY(-90deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size)));
}

.cube-face-right {
  transform: rotateY(180deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size)));
}

.cube-face-back {
  transform: rotateY(90deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size)));
}

.cube-face-left {
  transform: rotateY(0deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size)));
}

.cube-face-top {
  transform: rotateX(90deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size))) rotate(90deg);
}

.cube-face-bottom {
  transform: rotateX(-90deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size)));
}

.cube-face img {
  position: absolute;

  width: 100%;

  object-fit: cover;
  mix-blend-mode: color-burn;
  image-rendering: pixelated;
}

.face-wrapper {
  position: relative;
}

.face-layer-above {
  position: absolute;
  left: 100%;
  z-index: 3;

  width: 100%;

  opacity: 0.85;
}

.face-layer-middle {
  position: absolute;
  z-index: 2;

  width: 100%;
}

.face-layer-under {
  position: absolute;
  z-index: 1;

  width: 100%;
}

.texture-image {
  opacity: 0.5;
  filter: contrast(1.3) brightness(1.16);
}

.cube-face .image-above {
  z-index: 4;
}

.image-under-overlay {
  z-index: 3;
}

.cube-face .image-under {
  z-index: 2;
}

/* Custom block css */

/* Command block start */

.command-block .cube-face-left {
  rotate: -90deg;
}

.command-block .cube-face-top {
  transform: rotateX(90deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size))) rotate(-90deg);
}

.command-block .cube-face-right {
  rotate: -90deg;
}

.command-block .cube-face-bottom {
  transform: rotateX(-90deg) translateZ(calc((var(--loading-cube-size)/2) + var(--loading-cube-border-size))) rotate(-90deg);
}

.cube {
  transition: 2s;

  transform: rotateX(45deg) rotateY(405deg);
  transform: rotateX(-45deg) rotateY(225deg);
}

/* Command block end */