:root {
  --loading-cube-border-color: #fafafa;
  --loading-cube-inside-color: transparent;
  --loading-cube-size: 1.5vh;
  --loading-cube-border-size: 0px;

  /* calc(var(--loading-cube-size)/2); */

  --loading-cube-animation-name: inclined-cube-3-faces-pause-animation;
  /* --loading-cube-animation-name: diagonal-cube-walk-animation; */
  --loading-cube-animation-duration: 2s;
  --loading-cube-animation-timing-function: ease-in-out;
  --loading-cube-animation-iteration-count: infinite;

  /* animation: <name><duration><timing-function><iteration-count>; */
  --loading-cube-animation:
    /* animation-name: <name>; */
    var(--loading-cube-animation-name)
    /* animation-duration: <number>; */
    var(--loading-cube-animation-duration)
    /* animation-timing-function: <easing-style>; */
    var(--loading-cube-animation-timing-function)
    /* animation-iteration-count: <number|infinite>; */
    var(--loading-cube-animation-iteration-count);
}