.scene {
  width: var(--loading-cube-fixed-size);
  height: var(--loading-cube-fixed-size);
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: var(--loading-cube-fixed-size);
  height: var(--loading-cube-fixed-size);
  border: solid 2px var(--loading-cube-border-color);
  border-radius: 2px;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(calc(var(--loading-cube-fixed-size)/2));
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(calc(var(--loading-cube-fixed-size)/2));
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(calc(var(--loading-cube-fixed-size)/2));
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(calc(var(--loading-cube-fixed-size)/2));
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(calc(var(--loading-cube-fixed-size)/2));
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--loading-cube-fixed-size)/2));
}

.cube {
  transition: transform 1s;
}