.scene {
  width: var(--loading-cube-fixed-size);
  height: var(--loading-cube-fixed-size);
  /* perspective: 600px; */
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;

  transform: rotateX(-25deg) rotateY(45deg);
}

.cube__face {
  position: absolute;
  width: var(--loading-cube-fixed-size);
  height: var(--loading-cube-fixed-size);
  border: solid 5px var(--loading-cube-border-color);
  /* border-radius: 2px; */

  color: transparent;
  background-color: #242424;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(calc(var(--loading-cube-fixed-size)/var(--loading-cube-fixed-sides-distance-divider)));
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(calc(var(--loading-cube-fixed-size)/var(--loading-cube-fixed-sides-distance-divider)));
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(calc(var(--loading-cube-fixed-size)/var(--loading-cube-fixed-sides-distance-divider)));
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(calc(var(--loading-cube-fixed-size)/var(--loading-cube-fixed-sides-distance-divider)));
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(calc(var(--loading-cube-fixed-size)/var(--loading-cube-fixed-sides-distance-divider)));
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--loading-cube-fixed-size)/var(--loading-cube-fixed-sides-distance-divider)));
}

.cube {
  transition: transform 1s;
}